/* DECLARANDO VARIÁVEIS PARA FACILITAR A EDIÇÃO DO CÓDIGO */

:root {
    --fundo:          #000000;
    --cinzaMaisClaro: #404040;
    --cinzaClaro:     #252525;
    --cinza:          #151515;
    --branco:         #fff;
    --verde:          #00d857;
    --verdeEscuro:    #139246;
    --whiteSmoke:     #FAFAFA;
}

body {
    margin: 0px;
    border: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.9)), url("./assets/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
/* ELEMENTOS PRINCIPAIS */

#header {
    width: 100%;
    height: 5vh;
    margin-bottom: 2vh;
    background-color: var(--fundo);
    box-shadow: 0 1px 20px 1px rgba(255,255,255,0.2);

    /*PARA FORMATAR A LOGO E O NOME*/
    display: flex;
    align-items: center;
}

#form > form {
    width: 30vw;
    height: 90vh;
    background-color: var(--fundo);
    border-radius: 2vh;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.elemento-do-formulario {
    width: 60%;
    height: 8%;
    font-size: 16px;
    font-weight: normal;
    display: flex;
    justify-content: center;
}

.botao-login {
    width: 100%;
    border: 2px solid var(--cinzaClaro);
    border-radius: 40px;
    color: white;
    background-color: var(--fundo);
    text-decoration: none;
    border-radius: 5;
    font-size: inherit;
    font-weight: inherit;
    padding: 10px;

    display: flex;
    justify-content:space-around;
    align-items: center;
    cursor: pointer;
    text-align: center;
}

#submit {
    height: 60px;
    background-color: var(--verde);
    font-family: arial,helvetica,sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: var(--fundo);
    justify-content: center;
}

#submit:hover {
    background-color: var(--verdeEscuro);
}

.elemento-preencher {
    display: flex;
    flex-direction: column;
}

.campos {
    background-color: var(--cinza);
    border: 2px solid var(--cinzaClaro);
    color: var(--whiteSmoke);
    padding-left: 15px;
    height: 50px;
    text-decoration: none;
    border-radius: 5px;

}

.elemento-preencher > label {
    margin: 5px;
    margin-top: 20px;
    font-size: 12px;
    color: var(--whiteSmoke);
    font-weight: bold;
}

.check {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content:center;
}

.check > label {
    cursor:pointer;
    margin: 10px;
}

#esqueceu {
    display: inline-block;
    background-color: transparent;
    border: none;
    color: var(--whiteSmoke);
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.container-sem-conta {
    display: flex;
    align-items: center;
}
.container-sem-conta > label {
    color: var(--cinzaMaisClaro);
    font-weight: bold;
    cursor: pointer;
}

#sem-conta {
    color: var(--whiteSmoke);
    background-color: transparent;
    border: none;
    text-decoration: underline;
    font-weight: bolder;
    cursor: pointer;
}

/* ELEMENTOS SECUNDÁRIOS */

#logo {
    height: 80%;
    margin-left: 1vw;
    background-color: var(--branco);
    border-radius: 50%;
}

button > img {
    height: 40px;
}

/* ESTILIZAÇÃO DE TAGS */

#header > h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: white;
    margin: 1vw;
    letter-spacing: 0.05rem;
}
#titulo {
    font-family: arial;
    color: white;
    font-size: 30px;
    letter-spacing: 0.1rem;
}


/* CHECKBOX */
input[type="checkbox"] {
    cursor:pointer;
    position:relative;
    width: 40px;
    height: 20px;
    appearance: none;
    background-color: var(--cinzaMaisClaro);
    outline: none;
    border-radius:20px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    transition: 0.5s;
}
input:checked[type="checkbox"] {
    background: var(--verde);
}
input[type="checkbox"]:before {
    content: '';
    position:absolute;
    width: 20px;
    height:20px;
    border-radius: 10px;
    top: 0;
    left: 0;
    background: var(--whiteSmoke);
    transform: sclae(0.9);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: 0.5s;
}
input:checked[type="checkbox"]:before {
    left: 20px;
}